.budget h4 {
  text-align: center;
}

.set-up-workspace {
  padding: 0 2%;
}

.budget .weekly-items, .budget .monthly-items, .budget nav {
  padding: 0 2%;
  vertical-align: top;
  display: inline-block;
}

.budget .weekly-items, .budget .monthly-items {
  width: 35%;
}

.budget .budget-item {
  background-color: #efefef;
  padding: 2% 3%;
  width: 100%;
  border-radius: 15px;
}

.budget .budget-item div {
  display: inline-block;
}

.budget .budget-group {
  width: 100%;
  padding: 0;
}

.budget .budget-group .budget-item:nth-of-type(2n) {
  background-color: white;
}

.budget .budget-item .budget-item-description {
  width: 60%;
}

.budget .budget-item .budget-item-description.remaining {
  margin-left: 4.5%;
}

.budget-item-description i, .budget-item-description a {
  color: #737373;
  text-decoration: none;
}

.budget-item .caret {
  width: 3.5%;
  vertical-align: top;
}

.budget-item .per-details {
  width: 100%;
}

.detail-amount.underscore {
  border-bottom: solid 1px black;
}

.budget .per-details {
  padding: 0;
}

.per-details .title {
  width: 100%;
  text-align: center;
}

.budget .per-details .detail-group {
  width: 48%;
  padding: 0;
  margin-right: 1%;
}

.budget .per-details .detail-group:first-of-type {
  border-right: 1px solid #6B6B6B;
}

.per-details .per-detail {
  font-size: 0.8em;
  width: 100%;
}

.per-detail .description {
  width: 60%;
}

.per-detail .amount {
  width: 25%;
  text-align: right;
}

.budget .budget-transactions {
  padding: 0;
  font-size: 0.9em;
  width: 100%;
  display: inline-block;
}

.budget .detail-wrapper {
  width: 100%
}

.categories {
  padding: 0 2%;
}

.category-name,
.category-default-amount,
.category-icon,
.category-detail,
.category-edit,
.category-accrual,
.category-maturity-intervals,
.new-maturity-interval,
.maturity-interval-submit,
.category-delete {
  display: inline-block;
  vertical-align: top;
}

.category-delete a, .category-edit a {
  color: black;
  text-decoration: none;
}

.category-delete {
  margin-left: 2%;
}

.category-maturity-intervals {
  margin: 0 10px;
  width: 35%;
}

.category-maturity-intervals a {
  color: black;
}

.maturity-interval-label {
  width: 100%;
  font-weight: 600;
}

.maturity-interval {
  display: inline-block;
  width: 120px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.maturity-interval span.icon-links {
  font-size: 0.5em;
}

.new-maturity-interval {
  margin-left: 10px;
}

.new-maturity-interval .month-select {
  width: 200px;
  display: inline-block;
}

.new-maturity-interval .year-input {
  display: inline-block;
  width: 50px;
  margin-left: 10px;
  vertical-align: top;
}

.new-maturity-interval .year-input input {
  width: 100%;
}

.maturity-interval-submit {
  margin-left: 10px;
}

.category-name {
  width: 12%;
}

.category-default-amount {
  width: 10%;
  text-align: right;
}

.category-icon {
  margin-left: 1.5%;
  width: 5%;
}

.category-detail {
  margin-left: 1.5%;
  width: 15%;
  font-style: italic;
}

.budget-category-labels {
  padding: 0 2%;
  margin-bottom: -1%;
}

.budget-category-form {
  padding: 0.5% 2%
}

.budget-category {
  background-color: white;
  padding: 1%;
  border-radius: 15px;
  margin: 0 2%;
}

.budget-category-filters {
  padding: 0 2%;
}

.budget-category-filters .title,
.budget-category-filters .adjective,
.budget-category-filters .adverb,
.budget-category-filters .search
{
  vertical-align: top;
  margin-left: 2%;
  display: inline-block;
}

.budget-category-filters .adjective,
.budget-category-filters .adverb {
  width: 13%;
  border: 1px solid #999;
  border-radius: 8px;
}

.budget-category-filters .search .label {
  margin-bottom: 7px;
}

.adjective .options,
.adverb .options {
  padding: 5px;
}

.option {
  display: flex;
  justify-content: space-between;
}

.option .title {
  display: inline-block;
}

.option .label, .option .radio {
  display: inline-block;
  margin-left: 2%;
}

.budget-category-filters a {
  color: black;
}

.budget-category-filters span.active {
  color: #8AB6FF;
}

.add-new-category-button {
  width: 100px;
  background-color: #8AB6FF;
  padding: 5px 15px;
  border-radius: 8px;
  color: black;
}

.budget-category:nth-of-type(2n) {
  background-color: #efefef;
}

.budget a {
  color: black;
}

.budget-item span.update-amount input {
  text-align: right;
}

.budget-group-header {
  width: 100%;
}

.budget-group-header .title {
  width: 94%;
  display: inline-block;
}

.budget .select-wrapper {
  width: 50%;
  display: inline-block;
}

.budget .select-wrapper div {
  display: flex;
}

.budget .budget-category-select-container {
  width: 100%;
  display: block;
}

.budget .budget-category-select__control {
  display: block;
  width: 95%;
}

.budget .budget-category-select__value-container {
  width: 80%;
}

.budget .budget-category-select .budget-category-select__menu {
  margin-left: 10%;
  width: 90%;
}

.budget .budget-category-select .budget-category-select__menu-list {
  display: block;
  width: 100%
}

.budget .budget-category-select .budget-category-select__option {
  display: block;
  width: 100%
}

.budget .new-budget-item {
  width: 100%;
}

.budget .select-wrapper .budget-category-select__menu {
  display: inline-block;
}

.budget .select-wrapper .budget-category-select__menu-list {
  display: inherit;
}

.budget input.new-item-amount {
  text-align: right;
  height: 28px;
  font-size: 1.2em;
  width: 22%;
}

.budget button.new-item-submit {
  background-color: #59D176; /* green */
  border-radius: 8px;
  padding: 1.5% 4%;
  font-size: 0.8em;
  border: none;
  margin-left: 4%;
}

.budget .budget-banner {
  width: 100%;
}

.budget .budget-banner h2 {
  margin-left: 2%;
}

.budget .budget-banner .budget-links {
  margin-left: 2%;
  width: 100%;
  font-size: 0.8em;
}

.budget .budget-links a {
  margin-right: 5%;
}

.budget span.hidden {
  opacity: 0;
}

.budget .budget-item-description div {
  display: block;
}

.budget .budget-item-amounts {
  width: 30%;
  margin-right: 3%;
  text-align: right;
}

.budget .budget-item-amounts div {
  display: block;
  text-align: right;
}

.budget .budget-item-amounts input {
  text-align: right;
  width: 60%
}

.item-delete-button, .discretionary-icon {
  vertical-align: top;
}

.budget-item-transaction-row, .budget-item-transaction-row div {
  width: 100%;
}

.budget-item-transaction-row .budget-transaction-cell {
  width: 25%;
}

.budget-item-transaction-row .budget-transaction-cell.amount {
  text-align: right;
  margin-right: 5%;
  width: 18%;
}

.category-name, .category-default-amount {
  vertical-align: top;
}

.category-default-amount input, .category-name input {
  height: 25px;
  width: 90%;
}

.category-default-amount input {
  text-align: right;
}

.category-options {
  display: inline-block;
  width: 9%;
  margin-left: 2%;
  vertical-align: top;
}

.category-options .option {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
}

.category-options .option .label {
  width: 85%;
  display: inline-block;
}

.budget-icon-select {
  width: 16%;
  display: inline-block;
  vertical-align: top;
}

.category-button {
  vertical-align: top;
  display: inline-block;
  margin-left: 2%;
}

.category-button button {
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 18%;
  border: none;
  border-radius: 15px;
  min-height: 2.5em;
}

.category-button button.submit {
  background-color: #59D176; /* green */
}

.category-button button.reset {
  background-color: #8AB6FF; /* blue */
}

.category-button button.cancel {
  background-color: #FF3C52; /* red */
}

span.green-text {
  color: #36BE7D;
}

span.review-button a {
  color: black;
}

.budget nav {
  width: 13%;
}

nav.budget-actions {
  margin: 0 10px;
  border-radius: 15px;
  border: 1px solid #999;
  padding: 10px;
}

nav.budget-actions .budget-action {
  padding: 8px 4px 8px 12px;
  background: #EFEFEF;
  border-radius: 12px;
  margin-bottom: 8px;
  width: 90%;
}

nav.budget-actions a .budget-action:hover {
  background: #E2DDF4;
}

.set-up-intro {
  width: 50%;
  display: inline-block;
}

.set-up-intro, .set-up-intro a {
  margin-bottom: 15px;
}

.set-up-intro-select {
  display: inline-block;
  width: 33%;
  margin-right: 10px;
}

.set-up-intro-input {
  display: inline-block;
  margin-right: 12px;
}

.set-up-intro-input input {
  height: 33px;
  text-align: right;
}

.set-up-intro-create {
  display: inline-block;
}

.set-up-intro-create button {
  font-size: 1.0em;
  height: 40px;
  border: none;
  background: #36BE7D;
  border-radius: 9px;
  padding: 4px 12px;
  font-weight: 500;
}

.new-month-items, .previous-month-items {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.previous-month-items {
  margin-right: 20px;
}

.review-item-current {
  background: #EFEFEF;
  padding: 10px 0 2px 10px;
  border-radius: 15px;
}

.review-item-current:nth-of-type(2n) {
  background: white;
}

.review-item-label, .review-item-input {
  display: inline-block;
}

.review-item-input {
  margin-right: 10px;
}

.review-item-input input {
  text-align: right;
}

.review-item-label {
  width: 15%;
}

.finish-review-button {
  margin-top: 15px;
}

.finish-review-button button {
  height: 25px;
  border: none;
  background: #36BE7D;
  border-radius: 9px;
  padding: 4px 8px;
  font-weight: 500;
}

.finish-review-button button:hover {
  cursor: pointer;
}

.new-month-item, .setup-discretionary {
  width: 80%;
  padding: 4px 10px;
}

.new-month-item {
  background: #EFEFEF;
  border-radius: 8px;
}

.new-month-item:nth-of-type(2n) {
  background: white;
}

.new-month-item .name, .setup-discretionary .name {
  display: inline-block;
  width: 50%;
}

.new-month-item .amount, .setup-discretionary .amount {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.setup-discretionary {
  margin-top: 7px;
  border-bottom: 1px solid black;
}

.setup-next {
  background-color: #8AB6FF; /* blue */
  width: 90px;
  padding: 4px;
  border: none;
  font-size: 0.9em;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.setup-next {
  color: black;
}

.setup-title {
  margin: 10px 0;
}

.review-item-current {
  background-color: #E9ECFF; /* light blue */
  padding: 10px 10px;
  margin-bottom: 10px;
}

.review-item-current .top-line {
  display: inline-block;
  width: 50%;
}

.review-item-form .option {
  font-size: 0.9em;
}

.review-item-form .option .label {
  width: 33%;
}

.review-item-form .option .label, .review-item-form .option .amount {
  display: inline-block;
}

.review-item-form .option .amount {
  width: 18%;
  text-align: right;
}

.review-item-queued {
  background-color: white;
  padding: 2px 8px;
  border-radius: 8px;
}

.review-item-queued:nth-of-type(2n) {
  background-color: #EFEFEF;
}

.review-item-queued .amount {
  display: inline-block;
  width: 18%;
  text-align: right;
}

.review-item-queued .label {
  display: inline-block;
  width: 33%;
}

.review-item-form .input .label {
  display: inline-block;
  width: 33%;
}

.review-item-form .input input {
  display: inline-block;
  text-align: right;
  width: 100px;
}

.review-item-form .confirm-button {
  display: inline-block;
  margin-left: 5px;
  width: 180px;
}

.confirm-button button {
  background-color: #59D176; /* green */
  border-radius: 8px;
  padding: 1.5% 4%;
  font-size: 0.5em;
  border: none;
  margin-left: 4%;
}

.review-item-form .extra-options {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.review-item-form button {
  /* display: inline-block; */
  font-size: 1.0em;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  margin-right: 5px;
}

.review-item-form button.requeue {
  background: #FFF6A2; /* yellow */
}

.review-item-form button.ignore {
  background-color: #FF3C52; /* red */
}
