.budget h4 {
  text-align: center;
}

.set-up-workspace {
  padding: 0 2%;
}

.budget .weekly-items, .budget .monthly-items, .budget nav {
  padding: 0 2%;
  vertical-align: top;
  display: inline-block;
}

.budget .budget-item {
  background-color: #efefef;
  padding: 2% 3%;
  width: 100%;
  border-radius: 15px;
}

.budget .budget-group {
  width: 100%;
  padding: 0;
}

.budget .budget-group .budget-item:nth-of-type(2n) {
  background-color: white;
}

.budget .budget-item .budget-item-description {
  width: 60%;
}

.budget .budget-item .budget-item-description.remaining {
  margin-left: 4.5%;
}

.budget-item-description i, .budget-item-description a {
  color: #737373;
  text-decoration: none;
}

.budget-item .caret {
  width: 3.5%;
  vertical-align: top;
}

.budget-item .per-details {
  width: 100%;
}

.detail-amount.underscore {
  border-bottom: solid 1px black;
}

.budget .per-details {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.per-details .title {
  width: 100%;
  text-align: center;
}

.budget .per-details .detail-group {
  width: 48%;
  padding: 0;
  margin-right: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.budget .per-details .detail-group:first-of-type {
  border-right: 1px solid #6B6B6B;
}

.per-details .per-detail {
  font-size: 0.8em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.per-detail .description {
  width: 60%;
}

.per-detail .amount {
  width: 25%;
  text-align: right;
  padding-right: 5%;
}

.budget .budget-transactions {
  padding: 0;
  font-size: 0.9em;
  width: 100%;
  display: inline-block;
}

.budget .detail-wrapper {
  width: 100%;
}

.categories {
  padding: 0 2%;
}

.category-name,
.category-default-amount,
.category-icon,
.category-detail,
.category-edit,
.category-accrual,
.category-maturity-intervals,
.new-maturity-interval,
.maturity-interval-submit,
.category-delete {
  display: inline-block;
  vertical-align: top;
}

.category-delete a, .category-edit a {
  color: black;
  text-decoration: none;
}

.category-delete {
  margin-left: 2%;
}

.category-maturity-intervals {
  margin: 0 10px;
  width: 35%;
}

.category-maturity-intervals a {
  color: black;
}

.maturity-interval-label {
  width: 100%;
  font-weight: 600;
}

.maturity-interval {
  display: inline-block;
  width: 120px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.maturity-interval span.icon-links {
  font-size: 0.5em;
}

.new-maturity-interval {
  margin-left: 10px;
}

.new-maturity-interval .month-select {
  width: 200px;
  display: inline-block;
}

.new-maturity-interval .year-input {
  display: inline-block;
  width: 50px;
  margin-left: 10px;
  vertical-align: top;
}

.new-maturity-interval .year-input input {
  width: 100%;
}

.maturity-interval-submit {
  margin-left: 10px;
}

.category-name {
  width: 12%;
}

.category-default-amount {
  width: 10%;
  text-align: right;
}

.category-icon {
  margin-left: 1.5%;
  width: 5%;
}

.category-detail {
  margin-left: 1.5%;
  width: 15%;
  font-style: italic;
}

.budget-category-labels {
  padding: 0 2%;
  margin-bottom: -1%;
  display: flex;
  flex-wrap: wrap;
}

.budget-category-form {
  padding: 0.5% 2%
}

.budget-category {
  background-color: white;
  padding: 1%;
  border-radius: 15px;
  margin: 0 2%;
}

.budget-category-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1% 2%;
  border-top: 1px #999 solid;
  border-bottom: 1px #999 solid;
}

.budget-category-fillters .title,
.budget-category-filters .adjective,
.budget-category-filters .adverb,
.budget-category-filters .search
{
  vertical-align: top;
  margin-left: 2%;
  display: inline-block;
}

.budget-category-filters .adjective,
.budget-category-filters .adverb {
  width: 13%;
  border: 1px solid #999;
  border-radius: 8px;
}

.budget-category-filters .search .label {
  margin-bottom: 7px;
}

.adjective .options,
.adverb .options {
  padding: 5px;
}

.option {
  display: flex;
  justify-content: space-between;
}

.option .title {
  display: inline-block;
}

.option .label, .option .radio {
  display: inline-block;
  margin-left: 2%;
}

.budget-category-filters a {
  color: black;
}

.budget-category-filters span.active {
  color: #8AB6FF;
}

.add-new-category-button {
  width: 100px;
  background-color: #8AB6FF;
  padding: 5px 15px;
  border-radius: 8px;
  color: black;
}

.budget-category:nth-of-type(2n) {
  background-color: #efefef;
}

.budget a {
  color: black;
}

.budget-item span.update-amount input {
  text-align: right;
}

.budget-group-header {
  width: 100%;
}

.budget-group-header .title {
  width: 94%;
  display: inline-block;
}

.budget .select-wrapper {
  width: 65%;
  display: inline-block;
}

.budget .select-wrapper div {
  display: flex;
}

.budget .budget-category-select-container {
  width: 100%;
  display: block;
}

.budget .budget-category-select__control {
  display: block;
  width: 95%;
}

.budget .budget-category-select__value-container {
  width: 80%;
}

.budget .budget-category-select .budget-category-select__menu {
  margin-left: 10%;
  width: 90%;
}

.budget .budget-category-select .budget-category-select__menu-list {
  display: block;
  width: 100%
}

.budget .budget-category-select .budget-category-select__option {
  display: block;
  width: 100%
}

.budget .new-budget-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.budget .select-wrapper .budget-category-select__menu {
  display: inline-block;
}

.budget .select-wrapper .budget-category-select__menu-list {
  display: inherit;
}

.budget input.new-item-amount {
  text-align: right;
  height: 28px;
  font-size: 1.2em;
}

.budget button.new-item-submit {
  background-color: #59D176; /* green */
  border-radius: 8px;
  padding: 1.5% 4%;
  font-size: 0.8em;
  border: none;
  margin-left: 4%;
}

.budget .budget-banner {
  width: 100%;
}

.budget .budget-banner h2 {
  margin-left: 2%;
}

.budget .budget-banner .budget-links {
  margin-left: 2%;
  width: 100%;
  font-size: 0.8em;
}

.budget .budget-links a {
  margin-right: 5%;
}

.budget span.hidden {
  opacity: 0;
}

.budget .budget-item-description div {
  display: block;
}

.budget .budget-item-amounts {
  width: 30%;
  margin-right: 3%;
  text-align: right;
}

.budget .budget-item-amounts div {
  display: block;
  text-align: right;
}

.budget .budget-item-amounts input {
  text-align: right;
  width: 60%
}

.item-delete-button, .discretionary-icon {
  vertical-align: top;
  min-width: 5%;
}

.budget-item-transaction-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px #999 solid;
  margin-top: 1.5%;
  padding-bottom: 1.5%;
}

.budget-item-transaction-row .budget-transaction-cell {
  width: 22.5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.budget-item-transaction-row .budget-transaction-cell.amount {
  text-align: right;
  margin-right: 5%;
}

.category-name, .category-default-amount {
  vertical-align: top;
}

.category-default-amount input, .category-name input {
  height: 25px;
  width: 90%;
}

.category-default-amount input {
  text-align: right;
}

.category-options {
  display: inline-block;
  width: 9%;
  margin-left: 2%;
  vertical-align: top;
}

.category-options .option {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
}

.category-options .option .label {
  width: 85%;
  display: inline-block;
}

.budget-icon-select {
  width: 16%;
  display: inline-block;
  vertical-align: top;
}

.category-button {
  vertical-align: top;
  display: inline-block;
  margin-left: 2%;
}

.category-button button {
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 18%;
  border: none;
  border-radius: 15px;
  min-height: 2.5em;
}

.category-button button.submit {
  background-color: #59D176; /* green */
}

.category-button button.reset {
  background-color: #8AB6FF; /* blue */
}

.category-button button.cancel {
  background-color: #FF3C52; /* red */
}

span.green-text {
  color: #36BE7D;
}

span.review-button a {
  color: black;
}

nav.budget-actions {
  margin: 0 10px;
  border-radius: 15px;
  border: 1px solid #999;
  padding: 10px;
}

nav.budget-actions .budget-action {
  padding: 8px 4px 8px 12px;
  background: #EFEFEF;
  border-radius: 12px;
  margin-bottom: 8px;
  width: 90%;
}

nav.budget-actions a .budget-action:hover {
  background: #E2DDF4;
}

.accrual-item {
  background: #EFEFEF;
  display: flex;
  padding: 1% 1% 1% 3%;
  border-radius: 10px;
  justify-content: space-evenly;
}

.accrual-item:nth-of-type(2n) {
  background: white;
}

.accrual-item .label {
  width: 50%
}

.accrual-item .input {
  width: 25%
}

.accrual-item .input input {
  text-align: right;
}

.accrual-item .buttons {
  width: 23%;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px
}

.accrual-item .buttons .check, .accrual-item .buttons .ex {
  margin: 0 5px;
}

.accrual-item .buttons a {
  color: #999;
}

.accrual-item .buttons span.active a {
  color: black;
}

.accrual-item .buttons span.created a {
  color: #59D176; /* green */
}

.accrual-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px
}

.accrual-submit button {
  background-color: #59D176; /* green */
  padding: 2%;
  font-size: 0.8em;
  border-radius: 8px;
  border: none;
}

.new-month-items, .previous-month-items {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.previous-month-items {
  margin-right: 20px;
}

.review-item-current {
  background: #EFEFEF;
  padding: 10px 0 2px 10px;
  border-radius: 15px;
}

.review-item-current:nth-of-type(2n) {
  background: white;
}

.review-item-label, .review-item-input {
  display: inline-block;
}

.review-item-input {
  margin-right: 10px;
}

.review-item-input input {
  text-align: right;
}

.review-item-label {
  width: 15%;
}

.finish-review-button {
  margin-top: 15px;
}

.finish-review-button button {
  height: 25px;
  border: none;
  background: #36BE7D;
  border-radius: 9px;
  padding: 4px 8px;
  font-weight: 500;
}

.finish-review-button button:hover {
  cursor: pointer;
}

.new-month-item, .setup-discretionary {
  width: 80%;
  padding: 4px 10px;
}

.new-month-item {
  background: #EFEFEF;
  border-radius: 8px;
}

.new-month-item:nth-of-type(2n) {
  background: white;
}

.new-month-item .name, .setup-discretionary .name {
  display: inline-block;
  width: 50%;
}

.new-month-item .amount, .setup-discretionary .amount {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.setup-discretionary {
  margin-top: 7px;
  border-bottom: 1px solid black;
}

.setup-next {
  background-color: #8AB6FF; /* blue */
  width: 90px;
  padding: 4px;
  border: none;
  font-size: 0.9em;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.setup-next {
  color: black;
}

.setup-title {
  margin: 10px 0;
}

.finalize-wrapper {
  display: flex;
  justify-content: flex-start;
}

.finalize-title {
  padding: 0 2%;
}

.finalize-workspace {
  padding: 0 2%;
  width: 60%;
}

.finalize-accrual {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0.5% 2%;
  background: white;
  border-radius: 15px;
}

.finalize-accrual:first-of-type {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.finalize-accrual:nth-of-type(2n) {
  background: #EFEFEF;
}

.finalize-accrual .item-name {
  width: 30%;
}

.finalize-accrual .item-input {
  text-align: right;
  width: 20%;
}

.finalize-accrual .item-input input {
  text-align: right;
}

.finalize-accrual .next-month-amount {
  text-align: right;
  width: 20%;
}

.finalize-accrual button,
.finalize-carry-over button {
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 2%;
  font-size: 0.8em;
  padding: 1.5% 2%;
}

.finalize-accrual button.create-item,
.finalize-carry-over button.create-item {
  background-color: #59D176; /* green */
}

.finalize-accrual button.ignore,
.finalize-carry-over button.ignore {
  background-color: #FF3C52; /* red */
}

.finalize-carry-over button.create-item,
.finalize-carry-over button.ignore {
  font-size: 1.1em;
  padding: 1% 2%;
  color: black;
  width: 100%;
}
.finalize-carry-over button.carry-over-submit {
  background-color: #59D176; /* green */
  font-size: 1.1em;
  padding: 1% 2%;
  color: black;
  width: 35%;
}

.finalize-carry-over button.apply-to-extra {
  font-size: 1.1em;
  background: #FFF6A2; /* yellow */
  color: black;
  padding: 1% 2%;
  width: 35%;
}

.finalize-accrual .indicator {
  min-width: 1.5%;
}

.finalize-accrual .indicator i.green {
  color: #59D176; /* green */
}

.next-month-accrual-submit {
  width: 96%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5% 2%;
}

.next-month-accrual-submit button {
  background-color: #59D176; /* green */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5% 1%;
  font-size: 1em;
}

.finalize-carry-over, .finalize-extra {
  background-color: #E9ECFF; /* light blue */
  padding: 3%;
  border-radius: 15px;
}

.finalize-carry-over .item-name {
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px solid #999;
  margin-bottom: 2%;
}

.finalize-carry-over .budgeted,
.finalize-carry-over .remaining,
.finalize-carry-over .total {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 1%;
}

.finalize-carry-over .submit-row {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-top: 1%;
}

.finalize-carry-over .remaining input {
  text-align: right;
}

.finalize-carry-over .budgeted .amount {
  border-bottom: 1px solid black;
}

.finalize-carry-over .buttons {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.finalize-carry-over .buttons .option {
  width: 49%;
}

.existing-items .item {
  display: flex;
  justify-content: space-between;
  width: 17%;
}

.existing-items .item button {
  background-color: #8AB6FF; /* blue */
  font-size: 0.8em;
}

.finalize-summary {
  width: 15%;
}

.finalize-summary .extra {
  text-align: right;
  display: flex;
  justify-content: space-between;
  background-color: #EFEFEF;
  padding: 5%;
  border-radius: 8px;
}

.finalize-extra .title {
  padding: 2% 0;
}

.finalize-extra .account-select {
  width: 50%;
  margin-bottom: 2%;
}

.finalize-extra .extra-submit button {
  border: none 0;
  font-size: 1.2em;
  border-radius: 8px;
  background-color: #59D176; /* green */
  color: white;
  padding: 1% 2%;
}

.finalize-summary .extra:first-of-type {
  border-bottom: 1px solid #999;
  margin-bottom: 8%;
}

.finalize-summary .extra:nth-of-type(2n) {
  background-color: white;
}

.review-item-current {
  background-color: #E9ECFF; /* light blue */
  padding: 10px 10px;
  margin-bottom: 10px;
}

.review-item-current .top-line {
  display: inline-block;
  width: 50%;
}

.review-item-form .option {
  font-size: 0.9em;
}

.review-item-form .option .label {
  width: 45%;
}

.review-item-form .option .label, .review-item-form .option .amount {
  display: inline-block;
}

.review-item-form .option .amount {
  width: 18%;
  text-align: right;
}

.review-item-queued {
  background-color: white;
  padding: 2px 8px;
  border-radius: 8px;
}

.review-item-queued:nth-of-type(2n) {
  background-color: #EFEFEF;
}

.review-item-queued .amount {
  display: inline-block;
  width: 18%;
  text-align: right;
}

.review-item-queued .label {
  display: inline-block;
  width: 33%;
}

.review-item-form .input .label {
  display: inline-block;
  width: 33%;
}

.review-item-form .input input {
  display: inline-block;
  text-align: right;
  width: 100px;
}

.review-item-form .confirm-button {
  display: inline-block;
  margin-left: 5px;
  width: 180px;
}

.confirm-button button {
  background-color: #59D176; /* green */
  border-radius: 8px;
  padding: 1.5% 4%;
  font-size: 0.5em;
  border: none;
  margin-left: 4%;
}

.review-item-form .extra-options {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.review-item-form button {
  /* display: inline-block; */
  font-size: 1.0em;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  margin-right: 5px;
}

.review-item-form button.requeue {
  background: #FFF6A2; /* yellow */
}

.review-item-form button.ignore {
  background-color: #FF3C52; /* red */
}

.budget-item .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.budget-item-cleared {
  background: #EFEFEF;
  border-radius: 15px;
  padding: 2%;
}

.budget-item-cleared:nth-of-type(2n) {
  background: white;
}

.cleared-item-name,
.cleared-item-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cleared-item-wrapper {
  justify-content: space-between;
}

/* large screens */
@media screen and (min-width: 768px) {
  .budget .weekly-items, .budget .monthly-items {
    width: 35%;
  }

  nav.budget-actions {
    width: 13%;
  }

  .budget-transaction-cell span.short-date {
    display: none;
  }

  .budget-category-labels .category-name {
    width: 22%;
  }

  .budget-category-labels .category-default-amount {
    width: 12%;
  }

  .budget-category-labels .category-detail {
    width: 22%;
  }

  .budget-category-labels .category-accrual {
    width: 18%;
  }

  .budget-category-labels .category-icon {
    width: 8%;
  }

  .budget-category-labels .category-option-buttons {
    width: 8%;
  }
}

/* small/mobile screens */
@media screen and (max-width: 768px) {
  .budget .weekly-items {
    margin-bottom: 30px;
  }

  .budget .weekly-items, .budget .monthly-items {
    width: 90%;
  }

  nav.budget-actions {
    width: 60%;
    margin-top: 10px;
  }

  .budget-transaction-cell {
    width: 28%;
  }

  .budget-transaction-cell.clearance-date {
    width: 12%;
  }

  .budget-transaction-cell.amount {
    width: 18%;
  }

  .budget-transaction-cell span.long-date {
    display: none;
  }

  .budget-category-filters .search {
    width: 50%;
    margin-bottom: 2%;
  }

  .budget-category-filters .adjective, .budget-category-filters .adverb {
    width: 45%;
  }

  .budget-category-labels .category-name {
    width: 33%;
  }

  .budget-category-labels .category-default-amount {
    width: 20%;
  }

  .budget-category-labels .category-detail {
    width: 33%;
    margin-left: 5%;
  }

  .budget-category-labels .category-accrual {
    width: 18%;
  }

  .budget-category-labels .category-icon {
    width: 8%;
  }

  .budget-category-labels .category-option-buttons {
    width: 8%;
  }
}
