.budget h4 {
  text-align: center;
}

.budget .weekly-items, .budget .monthly-items, .budget nav {
  padding: 0 2%;
  vertical-align: top;
  display: inline-block;
}

.budget .weekly-items, .budget .monthly-items {
  width: 35%;
}

.budget nav {
  width: 13%;
}

.budget nav div {
  width: 100%;
}

.budget .category-link, .budget .icon-link {
  vertical-align: top;
  text-align: center;
  padding: 1%
}

.budget .category-link {
  background-color: #E8AF0C;
}

.budget .icon-link {
  background-color: #2CC47D;
}

.budget a .category-link, .budget a .icon-link {
  color: black;
  text-decoration: none;
  border-radius: 20px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.budget .budget-item {
  background-color: #efefef;
  padding: 2% 3%;
  width: 100%;
  border-radius: 15px;
}

.budget .budget-item div {
  display: inline-block;
}

.budget .budget-group {
  width: 100%;
  padding: 0;
}

.budget .budget-group .budget-item:nth-of-type(2n) {
  background-color: white;
}

.budget .budget-item .budget-item-description {
  width: 60%;
}

.budget .budget-item .budget-item-description.remaining {
  margin-left: 4.5%;
}

.budget-item-description i, .budget-item-description a {
  color: #737373;
  text-decoration: none;
}

.budget-item .caret {
  width: 3.5%;
  vertical-align: top;
}

.budget-item .per-details {
  width: 100%;
}

.detail-amount.underscore {
  border-bottom: solid 1px black;
}

.budget .per-details {
  padding: 0;
}

.per-details .title {
  width: 100%;
  text-align: center;
}

.budget .per-details .detail-group {
  width: 48%;
  padding: 0;
  margin-right: 1%;
}

.budget .per-details .detail-group:first-of-type {
  border-right: 1px solid #6B6B6B;
}

.per-details .per-detail {
  font-size: 0.8em;
  width: 100%;
}

.per-detail .description {
  width: 60%;
}

.per-detail .amount {
  width: 25%;
  text-align: right;
}

.budget .budget-transactions {
  padding: 0;
  font-size: 0.9em;
  width: 100%;
  display: inline-block;
}

.budget .detail-wrapper {
  width: 100%
}

.categories {
  padding: 0 2%;
}

.category-name,
.category-default-amount,
.category-icon,
.category-detail,
.category-edit {
  display: inline-block;
}

.category-edit a {
  color: black;
  text-decoration: none;
}

.category-name {
  width: 15%;
}

.category-default-amount {
  width: 15%;
  text-align: right;
}

.category-icon {
  margin-left: 1.5%;
  width: 5%;
}

.category-detail {
  margin-left: 1.5%;
  width: 15%;
  font-style: italic;
}

.budget-category-labels, .budget-category {
  background-color: white;
  padding: 1% 2%;
  border-radius: 15px;
}

.budget-category:nth-of-type(2n) {
  background-color: #efefef;
}

.budget a {
  color: black;
}

.budget-item span.update-amount input {
  text-align: right;
}

.budget-group-header {
  width: 100%;
}

.budget-group-header .title {
  width: 94%;
  display: inline-block;
}

.budget .select-wrapper {
  width: 50%;
  display: inline-block;
}

.budget .select-wrapper div {
  display: flex;
}

.budget .budget-category-select-container {
  width: 100%;
  display: block;
}

.budget .budget-category-select__control {
  display: block;
  width: 95%;
}

.budget .budget-category-select__value-container {
  width: 80%;
}

.budget .budget-category-select .budget-category-select__menu {
  margin-left: 10%;
  width: 90%;
}

.budget .budget-category-select .budget-category-select__menu-list {
  display: block;
  width: 100%
}

.budget .budget-category-select .budget-category-select__option {
  display: block;
  width: 100%
}

.budget .new-budget-item {
  width: 100%;
}

.budget .select-wrapper .budget-category-select__menu {
  display: inline-block;
}

.budget .select-wrapper .budget-category-select__menu-list {
  display: inherit;
}

.budget input.new-item-amount {
  text-align: right;
  height: 28px;
  font-size: 1.2em;
  width: 22%;
}

.budget button.new-item-submit {
  background-color: #59D176;
  border-radius: 8px;
  padding: 1.5% 4%;
  font-size: 0.8em;
  border: none;
  margin-left: 4%;
}

.budget .budget-banner {
  width: 100%;
}

.budget .budget-banner h2 {
  margin-left: 2%;
}

.budget .budget-banner .budget-links {
  margin-left: 2%;
  width: 100%;
  font-size: 0.8em;
}

.budget .budget-links a {
  margin-right: 5%;
}

.budget span.hidden {
  opacity: 0;
}

.budget .budget-item-description div {
  display: block;
}

.budget .budget-item-amounts {
  width: 30%;
  margin-right: 3%;
  text-align: right;
}

.budget .budget-item-amounts div {
  display: block;
  text-align: right;
}

.budget .budget-item-amounts input {
  text-align: right;
  width: 60%
}

.item-delete-button, .discretionary-icon {
  vertical-align: top;
}

.budget-item-transaction-row, .budget-item-transaction-row div {
  width: 100%;
}

.budget-item-transaction-row .budget-transaction-cell {
  width: 25%;
}

.budget-item-transaction-row .budget-transaction-cell.amount {
  text-align: right;
  margin-right: 5%;
  width: 18%;
}

.category-name, .category-default-amount {
  vertical-align: top;
}

.category-default-amount input, .category-name input {
  height: 25px;
  width: 90%;
}

.category-default-amount input {
  text-align: right;
}

.category-options {
  display: inline-block;
  width: 8%;
  margin-left: 2%;
}

.category-options .option {
  display: block;
  margin-left: 2%;
}

.category-options .option .label {
  width: 65%;
  display: inline-block;
}

.budget-icon-select {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.category-button {
  vertical-align: top;
  display: inline-block;
  margin-left: 2%;
}

.category-button button {
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 18%;
  border: none;
  border-radius: 15px;
  min-height: 2.5em;
}

.category-button button.submit {
  background-color: #59D176; /* green */
}

.category-button button.reset {
  background-color: #8AB6FF; /* blue */
}

.category-button button.cancel {
  background-color: #FF3C52; /* red */
}
