.transaction-wrapper {
  background-color: white;
  padding: 0.8%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.transaction-wrapper:nth-of-type(2n) {
  background-color: #efefef;
}

.transaction  {
  /* width: 87%; */
  /* display: flex; */
  /* justify-content: flex-start; */
}

.transaction .left-icon {
  color: #737373;
}

.transaction .left-icon a {
  color: #737373;
  text-decoration: none;
}

.transaction i {
  color: #737373;
}

.transaction .balance, .transaction .amount {
  text-align: right;
}

.transaction .amount .amount-detail {
  display: block;
  width: 100%;
}

.transaction .transaction-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 58%;
}

.transaction .transaction-info .transaction-info-line {
  display: block;
  width: 100%;
}

.transaction .budget-categories, .transaction .balance, .transaction .check-number, .transaction .notes {
  margin-right: 2%;
}

.transaction .notes {
  max-width: 45%;
}

.transaction .exclusion {
  display: inline-block;
  font-style: italic;
  font-size: 0.8em;
  margin-right: 1%
}

.transaction .notes {
  max-width: 33%;
}

.detail-show {
  font-size: 0.8em;
}

.transaction-metadata .date-range {
  display: block;
  margin-bottom: 1%;
}

.page-links a {
  margin-right: 8%;
}

/* large screens */
@media screen and (min-width: 768px) {
}

/* small/mobile screens */
@media screen and (max-width: 768px) {
  .transaction-wrapper .transaction-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 0.85em;
  }

  .transaction-wrapper .transaction  {
    width: 95%;
  }

  .transaction-wrapper .clearance-date {
    margin-left: 2%;
    width: 18%;
  }

  .transaction-wrapper .description {
    width: 70%;
  }

  .transaction-wrapper .left-content {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }

  .transaction-wrapper span.long-date {
    display: none;
  }

  .transaction-wrapper span.short-date.pending {
    font-size: 0.65em;
    font-style: italic;
  }

  .transaction-wrapper .txn-info {
    padding: 0 2%;
    width: 65%;
    display: flex;
    justify-content: flex-start;
  }

  .transaction-wrapper .txn-balance {
    font-size: 0.8em;
    font-style: italic;
  }

  .transaction-wrapper .description {
    font-size: 1.1em;
  }

  .transaction-wrapper .description span.plain-text,
  .transaction-wrapper .description span.budget-item i {
    display: none;
  }

  .transaction-wrapper .info-item {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid black;
  }

  .transaction-wrapper .info-item.budget-exclusion {
    font-size: 0.8em;
    font-style: italic;
  }

  .transaction-wrapper .info-item span.spacer {
    margin: 0 6px;
  }

  .transaction-wrapper .info-item:first-of-type {
    border-left: 1px solid black;
  }
}
