.transaction-form {
  margin-top: 1%;
}

.transaction-wrapper.transaction-form .detail-amount input {
  text-align: right;
}

.option-icons span.highlighted a {
  color: #8AB6FF;
}

.transaction-wrapper.transaction-form .transaction-row.options .option-icons {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.transaction-wrapper.transaction-form .transaction-row.options .option-icon {
  min-width: 20%;
}

.transaction-wrapper.transaction-form .transaction-row.options .option-input {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.transaction-wrapper.transaction-form .transaction-row.options .option-input textarea {
  resize: none;
  min-width: 70%;
}

.transaction-wrapper.transaction-form .transaction-row.options .option-input .form-budget-exclusion,
.transaction-wrapper.transaction-form .transaction-row.options .option-input.receipt {
  display: flex;
  justify-content: space-between;
}

.budget-item-select-container {
  width: 100%;
  display: block;
}

.budget-item-select__control {
  display: block;
  width: 100%;
  margin-left: 10%;
}

.budget-item-select .budget-item-select__menu {
  margin-left: 10%;
  width: 90%;
}

.budget-item-select .budget-item-select__menu-list {
  display: block;
  width: 100%
}

.budget-item-select .budget-item-select__option {
  display: block;
  width: 100%
}

.transaction-form .transaction-submit {
  display: inline-block;
  vertical-align: top;
  margin-left: 1.5%;
}

.transaction-submit button {
  background-color: #59D176;
  border-radius: 8px;
  padding: 5%;
  font-size: 0.8em;
  border: none;
}

/* large screens */
@media screen and (min-width: 768px) {
  .transaction-wrapper.transaction-form .transaction {
    justify-content: space-between;
  }

  .transaction-wrapper.transaction-form .transaction-row.left-content {
    width: 11.5%;
  }

  .transaction-wrapper.transaction-form .left-content .clearance-date input {
    width: 80%;
    margin-left: 15px;
  }

  .transaction-wrapper.transaction-form .middle-content {
    width: 30%;
    margin-right: 2%;
  }

  .transaction-wrapper.transaction-form .middle-content .description {
    width: 100%;
  }

  .transaction-wrapper.transaction-form .middle-content .description input {
    width: 100%;
  }

  .transaction-wrapper.transaction-form .detail-wrapper {
    width: 29%;
  }

  .transaction-wrapper.transaction-form .transaction-row.options {
    width: 12%;
    margin-left: 2%;
    display: block;
  }

  /* .transaction-wrapper.transaction-form .transaction-row.options .option-icons { */
  /*   display: flex; */
  /*   width: 100%; */
  /* } */

  /* .transaction-wrapper.transaction-form .transaction-row.options .option-icon { */
  /*   min-width: 20%; */
  /* } */

  /* .transaction-wrapper.transaction-form .transaction-row.options .option-input { */
  /*   margin-top: 10px; */
  /*   width: 100%; */
  /*   display: flex; */
  /*   justify-content: space-between; */
  /* } */

  /* .transaction-wrapper.transaction-form .transaction-row.options .option-input notes { */
  /*   width: 100%; */
  /* } */

  /* .transaction-wrapper.transaction-form .transaction-row.options .option-input textarea { */
  /*   resize: none; */
  /*   min-width: 80%; */
  /* } */

  .transaction-wrapper.transaction-form .budget-item-select {
    display: inline-block;
    width: 66%;
    margin-right: 2%;
  }

  .transaction-wrapper.transaction-form .budget-item-select .detail-budget-item-select {
    width: 92%;
  }

  .transaction-wrapper.transaction-form .budget-item-select .detail-budget-item-select.disabled {
    display: none;
  }

  .transaction-wrapper.transaction-form .budget-item-select span.disabled {
    display: none;
  }

  .transaction-form .transaction-submit {
    width: 12%;
  }
}

/* small/mobile screens */
@media screen and (max-width: 768px) {
  .transaction-wrapper.transaction-form .left-content {
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .transaction-wrapper.transaction-form .left-content .clearance-date {
    display: flex;
  }

  .transaction-wrapper.transaction-form .description input {
    min-width: 65%;
  }

  .transaction-wrapper.transaction-form .transaction-row.form-details {
    justify-content: space-between;
  }

  .transaction-wrapper.transaction-form .detail-amount {
    text-align: left;
    width: 13%;
  }

  .transaction-wrapper.transaction-form .budget-item-select {
    display: inline-block;
    width: 50%;
    margin-right: -20%;
  }

  .transaction-wrapper.transaction-form .budget-item-select .detail-budget-item-select {
    width: 92%;
  }

  .transaction-wrapper.transaction-form .budget-item-select .detail-budget-item-select.disabled {
    display: none;
  }

  .transaction-wrapper.transaction-form .budget-item-select span.disabled {
    display: none;
  }

  .transaction-wrapper.transaction-form .transaction-row.options .option-icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .transaction-wrapper.transaction-form .transaction-row.options .input-options {
    width: 100%;
  }

  .transaction-wrapper.transaction-form .transaction-row.options .option-input {
    justify-content: space-between;
  }

  .transaction-form .transaction-submit {
    width: 48%;
  }
}
