.transaction-form {
  margin-top: 1%;
}

.transaction-form .top-line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.transaction-form .close-icon {
  width: 2%;
}

.clearance-date input {
  width: 85%;
  margin-left: 5%;
}

.transaction-form .description {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.description input {
  width: 95%;
  margin-left: 5%;
}

.transaction-form .amount {
  display: inline-block;
  vertical-align: top;
}

.amount input {
  width: 80%;
  margin-left: 15%;
  text-align: right;
}

.budget-item-select {
  width: 20%;
  margin-right: 2%;
}

.transaction-form .budget-item-select {
  display: inline-block;
  vertical-align: top;
}

.budget-item-select div {
  display: flex;
}

.budget-item-select-container {
  width: 100%;
  display: block;
}

.budget-item-select__control {
  display: block;
  width: 100%;
  margin-left: 10%;
}

.budget-item-select .budget-item-select__menu {
  margin-left: 10%;
  width: 90%;
}

.budget-item-select .budget-item-select__menu-list {
  display: block;
  width: 100%
}

.budget-item-select .budget-item-select__option {
  display: block;
  width: 100%
}

.check-number input {
  width: 64%;
}

.options {
  margin-top: 1%;
  vertical-align: top;
}

.transaction-form textarea {
  resize: none;
  width: 100%;
}

.input-notes {
  width: 80%;
  margin-left: -0.5%;
}

.transaction-form .budget-exclusion {
  display: inline-block;
  vertical-align: top;
}

.transaction-form .transaction-submit {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  margin-left: 1.5%;
}

.transaction-submit button {
  background-color: #59D176;
  border-radius: 8px;
  padding: 5%;
  font-size: 0.8em;
  border: none;
}

.left-stuff {
  width: 12%;
  display: flex;
}

.left-stuff .option {
  margin-top: 10%;
}

.detail {
  margin-top: 20.2px;
}

.transaction-form .additional-options {
  display: inline-block;
  vertical-align: top;
}
