.transaction-wrapper {
  background-color: white;
  padding: 0.8%;
  border-radius: 10px;
}

.transaction-wrapper:nth-of-type(2n) {
  background-color: #efefef;
}

.transaction  {
  display: inline-block;
  width: 97%;
}

.transaction .left-icon {
  display: inline-block;
  color: #737373;
  width: 1.5%;
}

.transaction .left-icon a {
  color: #737373;
  text-decoration: none;
}

.transaction i {
  color: #737373;
}

.transaction .clearance-date {
  display: inline-block;
  width: 10%;
}

.transaction .description {
  display: inline-block;
  width: 20%;
}

.transaction .balance, .transaction .amount {
  display: inline-block;
  width: 8%;
  text-align: right;
}

.transaction .budget-categories, .transaction .balance, .transaction .check-number, .transaction .notes {
  display: inline-block;
  margin-right: 1%;
  vertical-align: top;
}

.transaction .budget-categories {
  max-width: 30%;
}

.transaction .notes {
  max-width: 30%;
}

.transaction .exclusion {
  display: inline-block;
  font-style: italic;
  font-size: 0.8em;
  margin-right: 1%
}

.transaction-edit-button, .transaction-delete-button {
  display: inline-block;
}

.subtransaction-show {
  font-size: 0.8em;
}

.transaction-metadata .date-range {
  display: block;
  margin-bottom: 1%;
}

.page-links a {
  margin-right: 8%;
}
