.accounts {
  padding: 0 2%
}

.accounts a {
  color: black
}

.account {
  background-color: #efefef;
  display: inline-block;
  border-radius: 10px;
  padding: 1%;
  margin-right: 0.5%;
  vertical-align: top;
}

.account.active {
  background-color: #C0D6FF;
}

.account p.balance {
  text-align: right;
}

.account-index {
  width: 100%;
  padding: 0 2%;
}

.account-show {
  width: 96%;
}

.account-show h3 a {
  text-decoration: none;
}

.account-edit {
  border-radius: 15px;
  background: #efefef;
  display: inline-block;
  width: 100%;
  padding: 0 2% 1%;
  margin-bottom: 1.5%;
}

.account-edit:nth-of-type(2n) {
  background-color: white;
}

.account-edit .form-row {
  width: 100%
}

.account-edit button {
  border-radius: 8px;
  padding: 0.75%;
  font-size: 0.8em;
  border: none;
  margin-right: 0.75%;
}

.account-edit button.submit {
  background-color: #59D176;
}

.account-edit button.cancel {
  background-color: #FF3C52; /* red */
}

.account-edit button.reset {
  background-color: #8AB6FF; /* blue */
}

.account-edit .label, .account-edit .input {
  display: inline-block;
  width: 8%;
}

button.delete-account {
  font-size: 0.8em;
  border: none;
  border-radius: 10px;
  margin-top: 1%;
  background-color: #FF3C52;
}


/* large screens */
@media screen and (min-width: 1012) {
  .account {
    width: 11%;
  }
}

/* medium screens */
@media screen and (min-width: 768px) and (max-width: 1012px) {
  .account {
    width: 23%;
    margin-bottom: 2%;
  }
}

/* small/mobile screens */
@media screen and (max-width: 768px) {
  .account {
    width: 47%;
    margin-bottom: 2%;
  }
}
