body {
  margin: 0;
  padding: 2%;
  background-color: #6391c2;
  background-image: url('/public/black-linen-2.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Questrial, Arial;
}

html a {
  text-decoration: none;
}

#root {
  background-color: white;
  border-radius: 15px;
  padding-bottom: 5%;
}

header {
  padding: 0.5% 2%
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.8em;
}

header .tab {
  display: inline-block;
  width: 45.5%;
  margin-right: 0.5%;
  margin-bottom: 12px;
  background-color: #efefef;
  border-radius: 10px;
  padding: 1% 2%;
  box-shadow: 2px 2px #CDCDCD;
}

header a.active .tab {
  background-color: #60D1A6;
  box-shadow: 1px 1px #999;
}

header a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.font-red {
  color: #FF3C52; /* red */
}

.font-green {
  color: #60D1A6;
}

input.errors {
  border: 1px solid #FF3C52; /* red */
}

.input-errors {
  color: #FF3C52; /* red */
}

ul.input-errors {
  text-align: left;
  margin-left: -18%;
}

.key-form {
  padding: 0.5% 1%
}

.key-form input {
  width: 25%;
}

.top-level-messages {
  padding: 0.5% 3%;
  background-color: #1F283D;
  margin-bottom: 1%;
}

.top-level-messages .top-level-errors {
  background-color: white;
  padding: 2px 12px 4px;
  border-radius: 10px;
}

.top-level-events a,
.top-level-events a:visited,
.top-level-messages a,
.top-level-messages a:visited {
  color: black;
}

.top-level-messages .font-green a,
.top-level-messages .font-green a:visited {
  color: #60D1A6;
}
.top-level-messages span.message-heading {
  font-size: 1.3em;
}

.top-level-messages .message {
  margin: 1%;
  font-size: 1.1em;
}

.top-level-events {
  padding: 0.5% 3%;
  background-color: #D19C28;
  background-image: url('/public/black-linen-2.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1% 0;
}

.top-level-events .events {
  background: white;
  border-radius: 0.9rem;
  padding: 10px;
  max-height: 250px;
  overflow: scroll;
}

.top-level-events .events .event-message, .error-message {
  padding: 0.5rem;
  border-radius: 4px;
}

.error-message, .event-message {
  background-color: #efefef;
}

.error-message:nth-of-type(2n), .event-message:nth-of-type(2n) {
  background-color: white;
}

.error-message {
  margin-top: 5px;
}
