.icons {
  width: 100%;
  padding: 2%;
}

.icons .column {
  vertical-align: top;
  display: inline-block;
  width: 42%;
  margin-right: 4%;
}

.icons .icon {
  background: #efefef;
  padding: 2% 4%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.icons .icon a {
  color: black
}

.icons .icon:nth-of-type(2n) {
  background-color: white;
}

.new-icon-form {
  width: 100%;
  margin-bottom: 2%;
}

.column .icon-form-row div {
  width: 50%;
}

.icon-form-row div {
  display: inline-block;
  width: 8%;
  margin-bottom: 0.5%;
}

.column .icon-form-row .button {
  width: 30%;
  margin-right: 1%;
}

.icon-form button {
  border-radius: 8px;
  padding: 4%;
  font-size: 1.0em;
  border: none;
  margin: 1.75% 0.75% 1.75% 0;
}

.icon-form button.submit {
  background-color: #59D176;
}

.icon-form button.reset {
  background-color: #8AB6FF; /* blue */
}

.icon-form button.cancel {
  background-color: #FF3C52; /* red */
}

span.preview {
  font-size: 2.5em;
}
