body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Questrial, Arial;
}

.account {
  display: inline-block;
  width: 20%;
}

.account.active {
  background: #eee;
  color: blue;
}
