body {
  margin: 0;
  padding: 2%;
  background-color: #FFEBC0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Questrial, Arial;
}

#root {
  background-color: white;
  border-radius: 15px;
  padding-bottom: 5%;
}

header {
  padding: 0.5% 2%
}

header .tab {
  display: inline-block;
  width: 40%;
  margin-right: 0.5%;
  background-color: #efefef;
  border-radius: 10px;
  padding: 1% 2%;
}

header a.active .tab {
  background-color: #C0D6FF;
}

header a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.accounts {
  padding: 0 2%
}

.accounts a {
  color: black
}

.account {
  background-color: #efefef;
  display: inline-block;
  width: 15%;
  border-radius: 10px;
  padding: 1%;
  margin-right: 0.5%;
}

.account.active {
  background-color: #C0D6FF;
}

.account p.balance {
  text-align: right;
}

.transaction-wrapper {
  background-color: white;
  padding: 0.8%;
  border-radius: 10px;
}

.transaction-wrapper:nth-of-type(2n) {
  background-color: #efefef;
}

.transaction div {
  display: inline-block;
}

.transaction .left-icon {
  color: #737373;
  width: 1.5%;
}

.transaction .left-icon a {
  color: #737373;
  text-decoration: none;
}

.transaction i {
  color: #737373;
}

.transaction .clearance-date {
  width: 8%;
}

.transaction .description {
  width: 20%;
}

.transaction .balance, .transaction .amount {
  width: 8%;
  text-align: right;
}

.transaction .budget-categories, .transaction .balance, .transaction .check-number {
  margin-right: 1%;
}

.transaction .exclusion {
  font-style: italic;
  font-size: 0.8em;
  margin-right: 1%
}

.subtransaction {
  font-size: 0.8em;
}

#budget div {
  display: inline-block;
  padding: 0 2%;
}

#budget h4 {
  text-align: center;
}

#budget .weekly-items, #budget .monthly-items {
  width: 35%;
  vertical-align: top;
}

#budget .category-link {
  width: 12%;
  vertical-align: top;
  background-color: #FFA439;
  text-align: center;
}

#budget a .category-link {
  color: black;
  text-decoration: none;
  border-radius: 20px;
  margin-right: 2%;
}

#budget .budget-item {
  background-color: #efefef;
  padding: 2%;
  width: 100%;
  border-radius: 15px;
}

#budget .budget-group {
  width: 100%;
  padding: 0;
}

#budget .budget-group .budget-item:nth-of-type(2n) {
  background-color: white;
}

#budget .budget-item .budget-item-description {
  width: 70%;
}

.budget-item-description i {
  color: #737373;
}

#budget .budget-item .budget-item-amount {
  width: 18%;
  text-align: right;
}
